<h1>Available Pets</h1>

<form action="/pet" method="post">
<h3>Add a new pet:</h3>
  <label for="add_name">Enter pet's name:</label>
  <input id="add_name" name="add_name" type="text">

  <label for="gender">Gender:</label>
  <input id="gender" name="gender" type="text">

  <label for="admittance_date">Date admitted to shelter:</label>
  <input id="admittance_date" name="admittance_date" type="text">

  <label for="type">Type of animal:</label>
  <input id="type" name="type" type="text">

  <label for="breed">Breed:</label>
  <input id="breed" name="breed" type="text">

  <button type="submit">Add this pet!</button>
</form>
